<div class="partner-section">
  <div class="container">
    <h2 class="section-title">
      {{ site.data.lang.p[page.lang] }}
    </h2>
    <div class="med-divider"></div>
    <div class="partners-grid">
      <div class="partners">
        <img
          data-src="{% asset_path partners/aviva-logo.png %}" 
          width="115" 
          class="lazyload"
          alt="Aviva logo"
        />
      </div>
      <div class="partners">
        <img
          data-src="{% asset_path partners/travelers-logo.png %}"
          width="115"
          class="lazyload"
          alt="Travelers logo"
        />
      </div>
      <div class="partners">
        <img 
          data-src="{% asset_path partners/chubb-logo.png %}" 
          width="115"
          class="lazyload"
          alt="Chubb logo"
        />
      </div>
      <div class="partners">
        <img 
          data-src="{% asset_path partners/intact-logo.png %}" 
          width="115"
          class="lazyload"
          alt="Intact logo"
        />
      </div>
      <div class="partners">
        <img 
          data-src="{% asset_path partners/wawanesa-logo.png %}" 
          width="115"
          class="lazyload"
          alt="Wawanesa logo"
        />
      </div>
      <div class="partners">
        <img 
          data-src="{% asset_path partners/economical-logo.png %}"
          width="115"
          class="lazyload"
          alt="Economical logo"
        />
      </div>
      <div class="partners">
        <img 
          data-src="{% asset_path partners/rsa-logo.png %}"
          width="115"
          class="lazyload"
          alt="RSA logo"
        />
      </div>
    </div>
  </div>
</div>