---
title: "Car Insurance in Ottawa | Rowat Insurance"
excerpt: "Looking for car insurance coverage you can trust? Request a quick or detailed quote from our insurance brokers and find a protective policy you can depend on:"
lang: English
layout: default
permalink: /car-insurance-ottawa
ref: auto-insurance
---

{% include header.html %}
<div class="landing-hero">
  <picture>
    <source
      type="image/webp"
      media="(max-width: 372px)"
      srcset="{% asset_path auto-insurance/mini.webp %} 372w, {% asset_path auto-insurance/mini-2x.webp %} 744w"
    >
    <source
      type="image/webp"
      media="(max-width: 768px)"
      srcset="{% asset_path auto-insurance/mobile.webp %} 500w, {% asset_path auto-insurance/mobile-2x.webp %} 1000w"
    >
    <source
      type="image/webp"
      media="(max-width: 991px)"
      srcset="{% asset_path auto-insurance/tablet.webp %} 800w, {% asset_path auto-insurance/tablet-2x.webp %} 1600w"
    >
    <source
      type="image/webp"
      media="(max-width: 1384px)"
      srcset="{% asset_path auto-insurance/desktop.webp %} 1200w, {% asset_path auto-insurance/desktop-2x.webp %} 2400w"
    >
    <source
      type="image/webp"
      srcset="{% asset_path auto-insurance/widescreen.webp %} 1800w, {% asset_path auto-insurance/widescreen.webp %} 3600w"
    >
    <source
      type="image/jpg"
      media="(max-width: 372px)"
      srcset="{% asset_path auto-insurance/mini.jpg %} 372w, {% asset_path auto-insurance/mini-2x.jpg %} 744w"
    >
    <source
      type="image/jpg"
      media="(max-width: 768px)"
      srcset="{% asset_path auto-insurance/mobile.jpg %} 500w, {% asset_path auto-insurance/mobile-2x.jpg %} 1000w"
    >
    <source
      type="image/jpg"
      media="(max-width: 991px)"
      srcset="{% asset_path auto-insurance/tablet.jpg %} 800w, {% asset_path auto-insurance/tablet-2x.jpg %} 1600w"
    >
    <source
      type="image/jpg"
      media="(max-width: 1384px)"
      srcset="{% asset_path auto-insurance/desktop.jpg %} 1200w, {% asset_path auto-insurance/desktop-2x.jpg %} 2400w"
    >
    <img
      srcset="{% asset_path auto-insurance/widescreen.jpg %} 1800w, {% asset_path auto-insurance/widescreen-2x.jpg %} 3600w"
      src="{% asset_path auto-insurance/widescreen.jpg %}"
      alt="{{ page.title }} - inside of car"
    >
  </picture>
  <div class="hero-content">
    <div class="container flex">
      <div>
        <h1 class="hero-heading">Rowat Insurance Brokers</h1>
        <div class="hero-subheading">An Ottawa insurance broker can help you save on auto insurance. With five offices in Ontario and Quebec, our brokers can find you the right auto insurance coverage.</div>
      </div>
      <div>
        <a
          href="{{ site.data.links.webrater_auto_en }}"
          class="button auto-insurance"
          onclick="ga('send', 'event', { eventCategory: 'webrater', eventAction: 'click', eventLabel: 'webrater auto insurance link on {{ page.ref }} {{page.lang }}', eventValue: 10});"
        >
          Get your online quote
        </a>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col col-7">
        <div>
          <h3>Understanding the Cost of Car Insurance in Ottawa</h3>
          <h4>Your Personal History</h4>
          <p>Your personal history is the biggest factor taken into consideration by insurers when determining the premium rate of your policy.  If you are having these problems then you may want to get in touch with your Rowat insurance broker. Our brokers have numerous contacts in the industry and are well-versed in the options for drivers in Ontario and Quebec. Your broker will research and find the best companies to insure you and will find you the best price possible.</p>
          <h4>Popularity of the Vehicle</h4>
          <p>When a vehicle becomes very popular among consumers, the chance of that vehicle getting stolen rises. In some cases it’s not even that the vehicles are particularly expensive or flashy, but they are simply popular among drivers. According to the Insurance Bureau of Canada, the most stolen vehicles in Canada last year included Ford F250s and F350s, Cadillac Escalades, and Honda Civics.</p>
          <p>If you have one of these targeted vehicles then it is possible that your insurance cost may be higher compared to a less targeted model. Insurance companies will have a list of popular cars that are victims of a high theft rate. If you are worried that your vehicle will be on this list then it is worth discussing your options with an insurance broker before you make any decisions.</p>
          <h4>Cost of Repairs</h4>
          <p>If you have vehicle which is a speciality model such as a hybrid then the cost of repairs will likely be higher than a standard fuel-powered car. This extra repair cost will definitely be taken into account by insurers and you may find that the cost of your premium is raised as a result. Of course, you can weigh this against fuel savings that come with an eco-friendly vehicle.</p>
        </div>
      </div>
      <div class="col col-5">
        <aside class="sidebar">
          <div>
            <h3>What is a registered insurance broker?</h3>
            <blockquote>In Ontario, insurance brokers are governed by the Registered Insurance Brokers Act of Ontario.</blockquote>
            <p>A registered insurance broker is an independent insurance professional. Brokers sell general insurance including coverage for home, business, automobile, farm, boat, ATV, life, etc.</p>
            <blockquote>Brokers represent your best interests when negotiating a contract with an insurance provider.</blockquote>
            <p>Unlike an agent, an insurance broker does not work directly for an insurance company or financial institution. Brokers act as an intermediary between an insurance provider and the client.</p>
            <blockquote>Insurance brokers can offer several choices from a variety of insurance providers.</blockquote>
            <p>They are well versed on various insurance products available. They are not affiliated with insurance companies or financial institutions and can offer independent, non-biased advice.</p>
          </div>
        </aside>
      </div>
    </div>
  </div>
</main>
<section class="cta-banner landing-page">
  <div class="container">
    <div class="cta-div">
      <a
        href="{{ site.data.links.webrater_auto_en }}"
        class="button auto-insurance"
        onclick="ga('send', 'event', { eventCategory: 'webrater', eventAction: 'click', eventLabel: 'webrater auto insurance link on {{ page.ref }} {{page.lang }}', eventValue: 10});"
      >
        Get a Quote
      </a>
      <span>
        <span>or call us </span>
        <a
          href="tel:+16137479737" 
          class="call"
          onclick="ga('send', 'event', { eventCategory: 'phone call', eventAction: 'tap', eventLabel: 'phone number on {{ page.ref }} {{page.lang }}', eventValue: 10});"
        >
          (613) 747-9737
        </a>
      </span>
    </div>
  </div>
</section>
{% include footer.html %}