---
title: "Home Insurance in Ottawa | Rowat Insurance"
lang: English
layout: default
permalink: /home-insurance-ottawa
ref: home-insurance
excerpt: "Comparing home insurance quotes? We offer a wide variety of home insurance coverage plans, find yours starting with a quick or detailed quote: "
---

{% include header.html %}
<div class="landing-hero">
  <picture>
    <source
      type="image/webp"
      media="(max-width: 372px)"
      srcset="{% asset_path home-insurance/mini.webp %} 372w, {% asset_path home-insurance/mini-2x.webp %} 744w"
    >
    <source
      type="image/webp"
      media="(max-width: 768px)"
      srcset="{% asset_path home-insurance/mobile.webp %} 500w, {% asset_path home-insurance/mobile-2x.webp %} 1000w"
    >
    <source
      type="image/webp"
      media="(max-width: 991px)"
      srcset="{% asset_path home-insurance/tablet.webp %} 800w, {% asset_path home-insurance/tablet-2x.webp %} 1600w"
    >
    <source
      type="image/webp"
      media="(max-width: 1384px)"
      srcset="{% asset_path home-insurance/desktop.webp %} 1200w, {% asset_path home-insurance/desktop-2x.webp %} 2400w"
    >
    <source
      type="image/webp"
      srcset="{% asset_path home-insurance/widescreen.webp %} 1800w, {% asset_path home-insurance/widescreen.webp %} 3600w"
    >
    <source
      type="image/jpg"
      media="(max-width: 372px)"
      srcset="{% asset_path home-insurance/mini.jpg %} 372w, {% asset_path home-insurance/mini-2x.jpg %} 744w"
    >
    <source
      type="image/jpg"
      media="(max-width: 768px)"
      srcset="{% asset_path home-insurance/mobile.jpg %} 500w, {% asset_path home-insurance/mobile-2x.jpg %} 1000w"
    >
    <source
      type="image/jpg"
      media="(max-width: 991px)"
      srcset="{% asset_path home-insurance/tablet.jpg %} 800w, {% asset_path home-insurance/tablet-2x.jpg %} 1600w"
    >
    <source
      type="image/jpg"
      media="(max-width: 1384px)"
      srcset="{% asset_path home-insurance/desktop.jpg %} 1200w, {% asset_path home-insurance/desktop-2x.jpg %} 2400w"
    >
    <img
      srcset="{% asset_path home-insurance/widescreen.jpg %} 1800w, {% asset_path home-insurance/widescreen-2x.jpg %} 3600w"
      src="{% asset_path home-insurance/widescreen.jpg %}"
      alt="{{ page.title }} - residential street"
    >
  </picture>
  <div class="hero-content">
    <div class="container flex">
      <div>
        <h1 class="hero-heading">Protect your home.</h1>
        <div class="hero-subheading">
          Find your price with an instant home insurance quote now.
        </div>
      </div>
      <div>
        <a
          href="{{ site.data.links.webrater_home_en }}" 
          class="button home-insurance" 
          onclick="ga('send', 'event', { eventCategory: 'webrater', eventAction: 'click', eventLabel: 'webrater property insurance link on {{ page.ref }} {{page.lang }}', eventValue: 10});"
        >
          Get your online quote
        </a>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col col-7">
        <div>
          <h2>Understand your Coverage</h2>
          <p>When looking at what your policy covers discuss the following options with insurance agencies:</p>
          <ul>  
            <li><strong>Replacement Cost Plan:</strong> You will have a choice of replacement cost plans or cash value. Always choose the replacement cost plan as it will replace items as opposed to provide you with a lump sum of cash that might not be enough to cover your losses.</li>
            <li><strong>Personal Belongings:</strong> Make sure that your belongings are covered and not just the home itself. This is necessary as whether you have a break in or a fire, the damages to your clothes, furniture and anything else in the home will be covered. If you have specialty items in your home such as art collections and jewellery mention this to the insurance agencies providing you quotes as you might need additional coverage.</li>
            <li><strong>Common Exclusions:</strong> All home policies have certain risks that are excluded, some can be included for an additional cost (i.e. earthquake coverage) and some cannot (i.e. insect infestation, vermin, mold, and acts of war). Speak to your insurance broker to fully understand what is and what is not covered by your home insurance.</li>
            <li><strong>Accidents:</strong> Your home insurance should also cover visitor accidents that might occur in the home. If someone falls on your property because you have not shoveled your driveway or have a stair case without a hand rail they can sue you for their medical bills and even lost wages.</li>
          </ul>
          <h3>Insurance Agencies Questions</h3>
          <p>Make sure you have a basic understanding of the following details of your home in order to provide the correct information:</p>
          <ul>
            <li>Wiring such as knob-and-tube or aluminum</li>
            <li>Older plumbing such as galvanized or lead pipes</li>
            <li>Type of electrical service such as breakers instead of fuses</li>
            <li>Heat source such as oil-heated, gas, etc.</li>
            <li>Wood stoves or fireplaces</li>
            <li>The age of your roof</li>
            <li>Rental units on your property</li>
            <li>Home business, workshops, etc. in the home</li>
            <li>Alarm system and services</li>
          </ul>
          <p>Once you have your home insurance, keep insurance agencies updated on changes. Renovations, additional structures, storage of a boat or the addition of a rental unit will change coverage. This will help you avoid challenges if you need to file a claim.</p>
        </div>
      </div>
      <div class="col col-5">
        <aside class="sidebar">
          <div>
            <h3>What is a registered insurance broker?</h3>
            <blockquote>In Ontario, insurance brokers are governed by the Registered Insurance Brokers Act of Ontario.</blockquote>
            <p>A registered insurance broker is an independent insurance professional. Brokers sell general insurance including coverage for home, business, automobile, farm, boat, ATV, life, etc.</p>
            <blockquote>Brokers represent your best interests when negotiating a contract with an insurance provider.</blockquote>
            <p>Unlike an agent, an insurance broker does not work directly for an insurance company or financial institution. Brokers act as an intermediary between an insurance provider and the client.</p>
            <blockquote>Insurance brokers can offer several choices from a variety of insurance providers.</blockquote>
            <p>They are well versed on various insurance products available. They are not affiliated with insurance companies or financial institutions and can offer independent, non-biased advice.</p>
          </div>
        </aside>
      </div>
    </div>
  </div>
</main>
<section class="cta-banner landing-page">
  <div class="container">
    <div class="cta-div">
      <a
        href="{{ site.data.links.webrater_home_en }}"   
        class="button home-insurance"
        onclick="ga('send', 'event', { eventCategory: 'webrater', eventAction: 'click', eventLabel: 'webrater property insurance link on {{ page.ref }} {{page.lang }}', eventValue: 10});"
      >
        Get a Quote
      </a>
      <span>
        <span>or call us </span>
        <a
          href="tel:+16137479737" 
          class="call"
          onclick="ga('send', 'event', { eventCategory: 'phone call', eventAction: 'tap', eventLabel: 'phone number on {{ page.ref }} {{page.lang }}', eventValue: 10});"
        >
          (613) 747-9737
        </a>
      </span>
    </div>
  </div>
</section>
{% include footer.html %}