---
title: "Tenant Insurance | Rowat Insurance"
excerpt: "If you are renting your home, condo or apartment, Tenant Insurance can help protect your irreplacable belongings if something happens to them. Learn more:"
lang: English
layout: default
permalink: /tenant-insurance
ref: tenant-insurance
---

{% include header.html %}
<div class="landing-hero">
  <picture>
    <source
      type="image/webp"
      media="(max-width: 372px)"
      srcset="{% asset_path tenant-insurance/mini.webp %} 372w, {% asset_path tenant-insurance/mini-2x.webp %} 744w"
    >
    <source
      type="image/webp"
      media="(max-width: 768px)"
      srcset="{% asset_path tenant-insurance/mobile.webp %} 500w, {% asset_path tenant-insurance/mobile-2x.webp %} 1000w"
    >
    <source
      type="image/webp"
      media="(max-width: 991px)"
      srcset="{% asset_path tenant-insurance/tablet.webp %} 800w, {% asset_path tenant-insurance/tablet-2x.webp %} 1600w"
    >
    <source
      type="image/webp"
      media="(max-width: 1384px)"
      srcset="{% asset_path tenant-insurance/desktop.webp %} 1200w, {% asset_path tenant-insurance/desktop-2x.webp %} 2400w"
    >
    <source
      type="image/webp"
      srcset="{% asset_path tenant-insurance/widescreen.webp %} 1800w, {% asset_path tenant-insurance/widescreen.webp %} 3600w"
    >
    <source
      type="image/jpg"
      media="(max-width: 372px)"
      srcset="{% asset_path tenant-insurance/mini.jpg %} 372w, {% asset_path tenant-insurance/mini-2x.jpg %} 744w"
    >
    <source
      type="image/jpg"
      media="(max-width: 768px)"
      srcset="{% asset_path tenant-insurance/mobile.jpg %} 500w, {% asset_path tenant-insurance/mobile-2x.jpg %} 1000w"
    >
    <source
      type="image/jpg"
      media="(max-width: 991px)"
      srcset="{% asset_path tenant-insurance/tablet.jpg %} 800w, {% asset_path tenant-insurance/tablet-2x.jpg %} 1600w"
    >
    <source
      type="image/jpg"
      media="(max-width: 1384px)"
      srcset="{% asset_path tenant-insurance/desktop.jpg %} 1200w, {% asset_path tenant-insurance/desktop-2x.jpg %} 2400w"
    >
    <img
      srcset="{% asset_path tenant-insurance/widescreen.jpg %} 1800w, {% asset_path tenant-insurance/widescreen-2x.jpg %} 3600w"
      src="{% asset_path tenant-insurance/widescreen.jpg %}"
      alt="{{ page.title }} - apartment condos"
    >
  </picture>
  <div class="hero-content">
    <div class="container flex">
      <div>
        <h1 class="hero-heading">Everything You Need to Know About Tenant Insurance</h1>
      </div>
      <div>
        <a
          href="{{ site.data.links.webrater_home_en }}" 
          class="button tenant-insurance" 
          onclick="ga('send', 'event', { eventCategory: 'webrater', eventAction: 'click', eventLabel: 'webrater property insurance link on {{ page.ref }} {{page.lang }}', eventValue: 10});"
        >
          Get your online quote
        </a>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col col-8">
        <div>
          <h2>What is Tenant Insurance?</h2>
          <p>Many tenants think they do not need insurance as they do not own the dwelling/unit like an owned home or condo. Home/Condo insurance is required if the property has a mortgage on it, however tenant insurance is not mandatory unless the landlord requires it as part of the rental agreement. Tenant insurance protects your belongings if something happens to them (i.e. fire, theft, flood, etc). If you are currently renting your home, condo, or apartment here is everything you need to know about tenant insurance:</p>
          <p>Tenant insurance is designed to provide you with coverage when renting a home or apartment. This is regardless of whether you live in an apartment building, basement apartment, rent a condo from a private landlord or rent a larger property such as a townhouse or fully detached house. Tenant insurance is the protection you need to cover your valuables and all of your personal belongings in case of fire, theft and other risks. It also protects you if you are sued by your landlord or other persons as a result of your actions (i.e. caused a fire by accident or someone hurts themselves in your unit). Another coverage included is if you need to move out of your dwelling/unit temporarily while repairs are being made from an insured occurrence (i.e. fire, water damage, etc), tenant insurance covers the cost of alternate accommodations.</p>
          <p>To be clear, tenant insurance does not cover the structure of your home. This is covered by the landlord&#x27;s insurance. Instead your tenant insurance covers all of your personal belongings within the home, liability from being sued, and additional living expenses.</p>
          <h2>Why is Tenant Insurance Important?</h2>
          <p>Your tenant insurance is there to protect you for any unforeseen issues that could lead to the damage of your personal belongings. For example if you live in a basement apartment and there is a flood, there is a chance your furniture and other belongings could be damaged. Likewise if you have a break in your tenants insurance will replace anything that is stolen up to the limit of your insurance. Your insurance also covers damages in case of fire. As a tenant you might feel you cannot afford the additional expense for insurance. However in general, tenant insurance is quite affordable. Most packages are about $20 per month which means it is affordable for most renters. It is important to keep in mind that without insurance coverage you will be out of pocket for anything that has been damaged or stolen. This can cost thousands of dollars, a far cry from the small annual fees you will pay for your tenant insurance.</p>
          <h2>How to arrange for Tenant Insurance</h2>
          <p>Rowat Insurance can assist you in finding the tenant insurance you need for your dwelling/unit. You can arrange to have coverage to replace all of your belongings such as furniture, electronics, and clothing. You can also speak to Rowat about riders for valuables such as jewellery and art. They can provide you with the tenant coverage you need for complete peace of mind.</p>
        </div>
      </div>
      <div class="col col-4">
        <aside class="sidebar">
          <div>
            <h2>What is a registered insurance broker?</h2>
            <blockquote>In Ontario, insurance brokers are governed by the Registered Insurance Brokers Act of Ontario.</blockquote>
            <p>A registered insurance broker is an independent insurance professional. Brokers sell general insurance including coverage for home, business, automobile, farm, boat, ATV, life, etc.</p>
            <blockquote>Brokers represent your best interests when negotiating a contract with an insurance provider.</blockquote>
            <p>Unlike an agent, an insurance broker does not work directly for an insurance company or financial institution. Brokers act as an intermediary between an insurance provider and the client.</p>
            <blockquote>Insurance brokers can offer several choices from a variety of insurance providers.</blockquote>
            <p>They are well versed on various insurance products available. They are not affiliated with insurance companies or financial institutions and can offer independent, non-biased advice.</p>
          </div>
        </aside>
      </div>
    </div>
  </div>
</main>
<section class="cta-banner landing-page">
  <div class="container">
    <div class="cta-div">
      <a
        href="{{ site.data.links.webrater_home_en }}" 
        class="button tenant-insurance" 
        onclick="ga('send', 'event', { eventCategory: 'webrater', eventAction: 'click', eventLabel: 'webrater property insurance link on {{ page.ref }} {{page.lang }}', eventValue: 10});"
      >
        Get a Quote
      </a>
      <span>
        <span>or call us </span>
        <a
          href="tel:+16137479737" 
          class="call"
          onclick="ga('send', 'event', { eventCategory: 'phone call', eventAction: 'tap', eventLabel: 'phone number on {{ page.ref }} {{page.lang }}', eventValue: 10});"
        >
          (613) 747-9737
        </a>
      </span>
    </div>
  </div>
</section>
<section class="main-section grey">
  <div class="container">
    <div>
      <h2>Many landlords require tenants to have insurance, so here’s the top five reasons it benefits you</h2>
      <p>Did you know that while your landlord has insurance on the building, if there is damage to your personal property you will need insurance to help cover the loss? Or that your landlord’s insurance is unlikely to cover your hotel or moving expenses if something happens to the building you’re living in? These gaps are when tenant insurance becomes incredibly important for renters in apartments or rented homes. </p>
      <h3>Keeps you covered in case of theft</h3>
      <p>Theft is a leading cause of loss to insured individuals, and tenant insurance provides a valuable layer of protection from potentially catastrophic losses of electronics and other high-end items in the case of theft.</p>
      <h3>May be more reasonable than you think</h3>
      <p>Tenant insurance (also known as renter’s insurance), tends to be reasonably priced as you can tailor it to the actual contents of your home. There are a wide variety of rental situations, from high-end condos in downtown Ottawa to small starter apartments and suburban townhome rentals. Speaking with your insurance broker about the contents of your home can help them customize the coverage to your specific circumstances.</p>
      <h3>Replacement cost versus actual value</h3>
      <p>Insurance can vary greatly based on your budget and needs, but generally you can purchase coverage that reimburses you in case of all risks, or named perils. If you have special collections or interests that are not generally covered in tenant insurance (like fine art, priceless jewellery, or bicycles), you’ll want to purchase extended coverage. Depending on your coverage level, you can choose whether you want to repair or replace specific items in the event of a loss.</p>
      <h3>Personal indemnity coverage is important</h3>
      <p>Personal indemnity insurance can cover a wide range of eventualities, from you falling asleep in your home or apartment with a candle burning which ignites the drapes to someone slipping and falling within your home and suing you for the damages. Liability coverage helps keep your financial future secure by providing relief in these types of circumstances.</p>
      <h3>Can cover additional living expenses</h3>
      <p>What happens if your apartment building is lost in a catastrophe such as a fire? In many cases, your tenant insurance will step in and help support you as you find somewhere new to live or just wait out the repairs in a hotel room. Tenant insurance can also help support additional expenses such as moving fees.</p>
      <p>It is always best to check with your insurance broker to find limits and specific coverage information, as it can vary greatly and be highly customizable.</p>
    </div>
  </div>
</section>
{% include footer.html %}