<div class="container">
  <div class="breadcrumb">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li
        itemprop="itemListElement"
        itemscope
        itemtype="http://schema.org/ListItem"
      >
        <a
          itemscope
          itemtype="http://schema.org/Thing"
          itemprop="item"
          href="/"
        >
          <span itemprop="name">Home</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>
      &nbsp;
      ›
      &nbsp;
      <li
        itemprop="itemListElement" 
        itemscope
        itemtype="http://schema.org/ListItem"
      >
        <a
          itemscope
          itemtype="http://schema.org/Thing"
          itemprop="item" href="/blog/"
        >
          <span itemprop="name">All posts</span>
        </a>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
</div>