---
title: "Assurance Rowat | Ottawa Gatineau Outaouais | Auto, Habitation"
excerpt: "Soumission d'assurance instantané en ligne pour les meilleurs tarifs en Outaouais et Ottawa pour habitation, automobile, commerciale, chalet, agricole et assurance-vie."
lang: Français
layout: default
permalink: /fr/accueil
ref: homepage
---

{% include header.html %}
<div class="landing-hero">
  <picture>
    <source
      type="image/webp"
      media="(max-width: 372px)"
      srcset="{% asset_path index-hero/mini.webp %} 372w, {% asset_path index-hero/mini-2x.webp %} 744w"
    >
    <source
      type="image/webp"
      media="(max-width: 768px)"
      srcset="{% asset_path index-hero/mobile.webp %} 500w, {% asset_path index-hero/mobile-2x.webp %} 1000w"
    >
    <source
      type="image/webp"
      media="(max-width: 991px)"
      srcset="{% asset_path index-hero/tablet.webp %} 800w, {% asset_path index-hero/tablet-2x.webp %} 1600w"
    >
    <source
      type="image/webp"
      media="(max-width: 1384px)"
      srcset="{% asset_path index-hero/desktop.webp %} 1200w, {% asset_path index-hero/desktop-2x.webp %} 2400w"
    >
    <source
      type="image/webp"
      srcset="{% asset_path index-hero/widescreen.webp %} 1800w, {% asset_path index-hero/widescreen.webp %} 3600w"
    >
    <source
      type="image/jpg"
      media="(max-width: 372px)"
      srcset="{% asset_path index-hero/mini.jpg %} 372w, {% asset_path index-hero/mini-2x.jpg %} 744w"
    >
    <source
      type="image/jpg"
      media="(max-width: 768px)"
      srcset="{% asset_path index-hero/mobile.jpg %} 500w, {% asset_path index-hero/mobile-2x.jpg %} 1000w"
    >
    <source
      type="image/jpg"
      media="(max-width: 991px)"
      srcset="{% asset_path index-hero/tablet.jpg %} 800w, {% asset_path index-hero/tablet-2x.jpg %} 1600w"
    >
    <source
      type="image/jpg"
      media="(max-width: 1384px)"
      srcset="{% asset_path index-hero/desktop.jpg %} 1200w, {% asset_path index-hero/desktop-2x.jpg %} 2400w"
    >
    <img
      srcset="{% asset_path index-hero/widescreen.jpg %} 1800w, {% asset_path index-hero/widescreen-2x.jpg %} 3600w"
      src="{% asset_path index-hero/widescreen.jpg %}"
      alt="Rowat Insurance - outside of house"
    >
  </picture>
  <div class="hero-content">
    <div class="container">
      <h1 class="hero-heading">Assureur en Ontario et au Québec depuis 1955</h1>
      <div class="hero-subheading">
        Fiez sur nous pour vos assurances habitation, automobile, commerciale, chalet et assurance-vie.
      </div>
      <a
        href="/fr/obtenez-une-soumission"
        class="button"
      >
        Obtenez une soumission
      </a>
    </div>
  </div>
</div>
{% include homepage/quote-buttons.html %}
<main class="main-section dark">
  <div class="container">
    <h2 class="white">Qu&#x27;est-ce qu&#x27;un courtier d&#x27;assurance inscrit?</h2>
    <div class="med-divider white"></div>
    <div class="row">
      <div class="col col-4">
        <div class="card">
          <blockquote>En Ontario les courtiers d&#x27;assurance sont régies par la Loi sur les courtiers d&#x27;assurances inscrits de l&#x27;Ontario.</blockquote>
          <p>Un courtier d&#x27;assurance enregistré est un professionnel de l&#x27;assurance indépendant. Les courtiers vendent de l&#x27;assurance générale, y compris la couverture pour la maison, entreprise, automobile, agricole, bateau, vie, etc.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="card">
          <blockquote>Les courtiers représentent vos intérêts lors de la négociation d&#x27;un contrat avec un fournisseur d&#x27;assurance.</blockquote>
          <p>Contrairement à un agent un courtier d&#x27;assurance ne travaille pas directement pour une compagnie d&#x27;assurance ou institution financière. Les courtiers agissent comme un intermédiaire entre un fournisseur d&#x27;assurance et le client.</p>
        </div>
      </div>
      <div class="col col-4">
        <div class="card">
          <blockquote>Les courtiers d&#x27;assurance peuvent offrir plusieurs choix à partir d&#x27;une variété de fournisseurs d&#x27;assurance.</blockquote>
          <p>Ils sont bien versés sur divers produits d&#x27;assurance disponibles. Ils ne sont pas affiliés à des compagnies d&#x27;assurance ou des institutions financières et peuvent offrir des conseils indépendant et impartial.</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% include homepage/partners.html%}
{% include homepage/banner.html %}
<section id="posts" class="main-section">
  <div class="container">
    <h2 class="section-title">
      <a href="/fr/blog">Lisez le blogue</a>
    </h2>
    <div class="med-divider"></div>
  </div>
  {% include blog/blog-widget.html %}
</section>
{% include footer.html %}
