---
layout: page
title: "Blogue | Ottawa Gatineau Outaouais | Auto, Habitation"
heading: "Blogue" ## This page is the blogroll at /fr/blog/. Do not mess with this file
permalink: /fr/blog/
lang: Français
ref: blog-index
---

<div class="main-section">
  <div class="container">
    <div class="row">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in posts %}
        <div class="blog-thumbnail col col-4">
          <a
            href="{{ post.url }}"
            class="thumbnail-wrapper"
          >
            <div class="image-wrapper">
              <div style="background-image: url('{{ post.image }}');" class="thumbnail-image"></div>
              <div
                style="background-color: {{ site.data.categories[post.category] }};"
                class="category-tag"
              >
                {{ site.data.categories[post.lang][post.category] }}
              </div>
            </div>
            <div class="thumbnail-text">
              <div class="blog-title">
                {{ post.title }}
              </div>
              <div class="preview-text">
                {{ post.excerpt }}
              </div>
            </div>
            <div class="thumb-details">
              <div class="thumbnail-date">
                {% if page.lang == 'English' %}
                  {{ post.date | date: "%B %-d, %Y" }}
                {% endif %}
                {% if page.lang == 'Français' %}
                  {{ post.date | date: "%d/%m/%Y" }}
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
  